body {
	color:#ffffff;
	background:#000000;
	margin:0;
}
h1 {
	font-family:Impact;
	color:#1AAB8A;
}
a {
	color:#0074b7;
}
a:hover {
	color: #0086d3;
}
button{
	background:#1AAB8A;
	color:#fff;
  	border:none;
  	position:relative;
  	height:60px;
  	font-size:1.6em;
  	padding:0 2em;
  	cursor:pointer;
  	transition:800ms ease all;
  	outline:none;
}
button:hover{
  	background:#000;
  	color:#1AAB8A;
}
button:before,button:after{
  	content:'';
  	position:absolute;
  	top:0;
  	right:0;
  	height:2px;
  	width:0;
  	background: #1AAB8A;
  	transition:400ms ease all;
}
button:after{
  	right:inherit;
  	top:inherit;
  	left:0;
  	bottom:0;
}
button:hover:before,button:hover:after{
 	width:100%;
  	transition:800ms ease all;
}
